body {
  text-align: center;
  font-family: "Arial", sans-serif;
}

input {
  font-family: "Arial", sans-serif;
  font-size: 30px;
}

button {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  margin: 25px;
  padding: 5px;
}
