body {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

input {
  font-style: italic;
  font-family: "Comic Sans MS", sans-serif;
}

button {
  font-family: "Comic Sans MS", sans-serif;
}
